html, body {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
    
}
body {
    margin: 0;
    padding: 0;

}
.container{
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
   
}

nav #nav_container{
    /* position: relative;  */
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 2;
    
    margin: 0;
}
nav .logo{
    width: 56px;
    height: 56px;
    margin-left: 20px;
}
nav .logo img{
    width: 100%;
    border-radius: 28px;
}
nav #navbarSupportedContent ul{
    /* position: absolute;
    right: 0; */
    width: 25%;
    margin-left: calc(80% - 56px);
    float: right;
}
.banner{
    width: 100%;
    height: 100vh;
    padding-top: 72px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.banner #swiper_bg1{
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
}
.banner #swiper_bg2{
    background-image: url('img/banner2.jpg');
    background-size: cover;
    background-position: top;
}
.banner #swiper_bg3{
    background-image: url('img/banner4.jpg');
    background-size: cover;
    background-position: center;
}
.banner #swiper_bg4{
    background-image: url('img/banner3.jpg');
    background-size: cover;
    background-position: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* color: white;
    text-shadow: black 0.1em 0.1em 0.2em; */
}
.swiper-slide a{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.about{
    width: 100%;
    padding: 50px 0;
}
.col-gold-lg {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 61.8%;
}
.col-gold-sm {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 38.2%;

}
/* @media (max-width: 991px) {
    .col-gold-sm,
    .col-gold-lg {
      width: 100%;
    } */
.about .col-gold-sm img{
    width: 100%;
    object-fit: cover;
}
.about #about_img{
    background-image: url('img/about_tips.jpg');
    background-size: cover;
    background-position: center;
    
}
.product{
    
    background-image: url('img/product_bg.jpg');
    background-size: cover;
    background-position: top;
}
.product .mask{
    background-color: rgba(128, 128, 128, 0.384);
    height: 100%;
    padding: 150px 0;
}
.product .col-lg-4{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.product img{
    height: 260px;
    object-fit: cover;
}
section #info_pic_A{
    background-image: url(img/info_pic_A.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 0;

}
section #info_text{
    padding: 20px 40px;
    text-align: center;
}
section.information .row{
    padding: 50px 0;
}
section.information #info_pic_B{
    background-image: url(img/info_pic_B.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 0;
}
footer{
    background-color: black;
    padding: 20px 0;
}
footer #footer_text{
    color: white;
    text-align: center;
}


@media(max-width:1190px){
    #information #info_text{
        line-height: 1.2;
    }
}